* {
  max-width: 390px;
  max-height: 844px;
  font-family: "Hahmlet", serif;
}
header {
  margin-left: 5px;
}

header h1 {
  margin-bottom: 0;
}

header p {
  margin-top: 2px;
  color: #6a6a6a;
  background-color: rgba(255, 236, 131, 0.804);
  line-height: 8px;
}

.calender {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #554b32 2px solid;
  border-radius: 10px;
}

.grid--container {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  text-align: center;
}

:nth-child(14) {
  border-style: ridge;
  background-color: #9bb289;
  box-shadow: 1px 1px 2px 1px #554b32;
}

.grid--container .grid-todo {
  border-radius: 300px;
  border: #9bb289 3px dotted;
}

/*투두리스트*/

.todo {
  display: flex;
  flex-direction: column;
}

.todo-category {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 374px;
  height: 390px;
}

.todo--list {
  display: flex;
  flex-direction: column;
}

.todo--title {
  display: flex;
  align-items: center;
}

.home {
  display: inline;
  padding: 3px 15px;
  border-radius: 3px;
  background-color: #f5b137;
}

.sopt {
  display: inline;
  padding: 3px 15px;
  border-radius: 3px;
  background-color: #fb8081;
}
.school {
  display: inline;
  padding: 3px 15px;
  border-radius: 3px;
  background-color: #61c5eb;
}

.secret {
  display: inline;
  padding: 3px 15px;
  border-radius: 3px;
  background-color: rgb(185, 119, 232);
}

.addBtn {
  width: 32px;
  height: 33px;
  border: #554b32 2px solid;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.addBtn:hover {
  background-color: #9bb289;
}

.detail span {
  border-radius: 50px;
  background-color: #f5b137;
}

.detail img {
  border: #f5b137 3px solid;
  border-radius: 50px;
}

/*list hover*/
.status {
  cursor: pointer;
}

.status:hover {
  color: red;
}

/*풋터*/
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0;
}

/* info */
.info {
  margin: 7px;
  height: 130px;
  border: #554b32 3px solid;
  border-radius: 5px;
  font-size: 12px;
}

.use-direction h4 {
  margin: 0;
  text-align: center;
  background-color: #f5b2379e;
}

.use-direction .detail {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.calender--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 60px;
  border: #19627f 2px double;
  border-radius: 50px;
  background-color: #9bb289;
  box-shadow: 5px 3px 2px #3e4935;
}

.calender--button:hover {
  color: #9bb289;
  background-color: white;
}

.mypage-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 60px;
  margin-top: 5px;
  border: #19627f 2px double;
  border-radius: 50px;
  background-color: #9bb289;
  box-shadow: 5px 3px 2px #3e4935;
}

.mypage-button:hover {
  color: #9bb289;
  background-color: white;
}

/*모달 만들기*/
.modal-content {
  position: absolute;
  top: 55%;
  right: 5%;
  width: 350px;
  height: 100px;
  z-index: 1;
  background-color: #090c15d7;
  color: #fff2d3;
}

.modal-content input {
  width: 120px;
  height: 20px;
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
#saveAddBtn {
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 140px;
  color: black;
}
