* {
  max-width: 390px;
  max-height: 844px;
  overflow: visible;
  font-family: "Hahmlet", serif;
}
header {
  margin-left: 5px;
}

header h1 {
  margin-bottom: 0;
}

header p {
  margin-top: 2px;
  color: #6a6a6a;
  background-color: rgba(255, 236, 131, 0.804);
  line-height: 8px;
}

.calender {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #554b32 2px solid;
  border-radius: 10px;
  margin-top: 30px;
}

.grid--container {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  text-align: center;
}

:nth-child(14) {
  border-style: ridge;
  background-color: #9bb289;
  box-shadow: 1px 1px 2px 1px #554b32;
}

.grid--container .grid-todo {
  border-radius: 300px;
  border: #9bb289 3px dotted;
}

.todo--title {
  display: flex;
  align-items: center;
}

.todo--title .title1 {
  display: inline;
  padding: 3px 15px;
  border-radius: 3px;
  background-color: #f5b137;
}

.todo--title .title2 {
  display: inline;
  padding: 3px 15px;
  border-radius: 3px;
  background-color: #fb8081;
}
.todo--title .title3 {
  display: inline;
  padding: 3px 15px;
  border-radius: 3px;
  background-color: #61c5eb;
}

.todo--title .title4 {
  display: inline;
  padding: 3px 15px;
  border-radius: 3px;
  background-color: rgb(185, 119, 232);
}

.todo--title button {
  width: 32px;
  height: 33px;
  border: #554b32 2px solid;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.todo--title button:hover {
  background-color: #9bb289;
}

.todo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.todo-category {
  width: 170px;
  height: 180px;
}

.todo .todo--list {
  display: flex;
}

.detail span {
  border-radius: 50px;
  background-color: #f5b137;
}

.detail img {
  border: #f5b137 3px solid;
  border-radius: 50px;
}

/*list hover*/
.todo--list img:hover {
  opacity: 0;
}

.todo--list img:hover + .DoneHambbung {
  display: block;
}
.DoneHambbung {
  display: none;
  position: absolute;
  top: 515px;
}

.todo--list img:hover + .DoneHambbung0 {
  display: block;
}
.DoneHambbung0 {
  display: none;
  position: absolute;
  top: 460px;
}

.todo--list img:hover + .DoneHambbung1 {
  display: block;
}
.DoneHambbung1 {
  display: none;
  position: absolute;
  top: 640px;
}

.todo--list img:hover + .DoneHambbung2 {
  display: block;
}
.DoneHambbung2 {
  display: none;
  position: absolute;
  top: 695px;
}

.todo--list img:hover + .DoneHambbung3 {
  display: block;
}
.DoneHambbung3 {
  display: none;
  position: absolute;
  top: 640px;
}

.todo--list img:hover + .DoneHambbung4 {
  display: block;
}
.DoneHambbung4 {
  display: none;
  position: absolute;
  top: 695px;
}

.todo--list img:hover + .NoHambbung1 {
  display: block;
}
.NoHambbung1 {
  display: none;
  position: absolute;
  top: 455px;
}

.todo--list img:hover + .NoHambbung2 {
  display: block;
}
.NoHambbung2 {
  display: none;
  position: absolute;
  top: 515px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0;
}

/* info */
.info {
  margin: 7px;
  height: 170px;
  border: #554b32 3px solid;
  border-radius: 5px;
}

.use-direction h4 {
  margin: 0;
  text-align: center;
  background-color: #f5b2379e;
}

.use-direction .detail {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.calender--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 60px;
  border: #19627f 2px double;
  border-radius: 50px;
  background-color: #9bb289;
  box-shadow: 5px 3px 2px #3e4935;
}

.calender--button:hover {
  color: #9bb289;
  background-color: white;
}

.mypage-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 60px;
  margin-top: 5px;
  border: #19627f 2px double;
  border-radius: 50px;
  background-color: #9bb289;
  box-shadow: 5px 3px 2px #3e4935;
}

.mypage-button:hover {
  color: #9bb289;
  background-color: white;
}
